{% extends "base.html" %}
{% block content %}
{% load i18n %}
<div class="container">
        <hr class="featurette-divider">
    </div>
    <div class="container">
        <h1 class="page-title">{% block title %}Django{% endblock %}</h1>
    </div>
    <div class="container">
        <hr class="featurette-divider">
    </div>
    <div class="container">
            <h2><a href="https://www.djangoproject.com" class="badge badge-info">djangoproject.com</a><h2>
    </div>
<div class="container">
    <p>{% trans "Django is a free open source framework designed to create complex websites. The Django Software Foundation is responsible for its development. It was founded in 2005 and since then its popularity has been constantly growing. It is widely used on the market in such organizations as Mozilla, Instagram, Bitubcket." %}</p>

    <p>{% trans "The main goal of Django is to simplify the creation of complex applications that require the use of a database. Provided with many reusable components that are useful when creating applications such as the database administrator panel, which simplifies the process of software development." %}</p>
        
    <p>{% trans "Django supports the MVC Model - View - Kontroller architecture The model is responsible for the ORM (Object Relational Mapper) which is a bridge between data models written using Python and a relational database. Behind the view is the system associated with the processing of HTTP requests and the template generation system. The controller in the case of Django is a URL dispatcher, which controls the display of appropriate templates based on the given URL." %}</p>

    <p>{% trans "Django also includes:" %}</p>

    <ul>
        <li>{% trans "Server for debugging and testing" %}</li>
        <li>{% trans "A template generation system that has some of the concepts related to object-oriented programming like inheritance." %}</li>
        <li>{% trans "A system for serializing objects to JSON objects" %}</li>
        <li>{% trans "A system supporting the creation of applications translated into different languages" %}</li>
        <li>{% trans "Interface for unit tests" %}</li>
    </ul>

    <p>{% trans "The most important functions included in the basic distribution:" %}</p>
    <ul>
        <li>{% trans "User authorization system" %}</li>
        <li>{% trans "The database administrator panel visible in Figure 1." %}</li>
        <li>{% trans "Built-in security for the most popular attacks like SQL injection and password cracking." %}</li>
    </ul>

    {% load static %}
    <div class="container">
            <img class="center" src="{% static 'images/django-1.png' %}">
    </div>
    <p class="text-center">{% trans "Fig.1 Django administrator panel, facilitating the management of the database." %}</p>

    <p>{% trans "The biggest advantage affecting the popularity of this framework is a large community focused around it which leads to the creation of extensive documentation and many guides. Also the most common problems related to the use of this framework have been very well explained on the internet. There are also annual conferences for programmers, such as DjangoCon, where there is an exchange of knowledge between people who create the framework and its users." %}</p>

</div>
{% endblock %}