{% extends "base.html" %}
{% block content %}
<div class="container">
    <form class="form-submit" action="{% url 'render_django_template' %}" method="post">
        {% csrf_token %}
        <h1 class="title">Django</h1>
        <h3>Rendering template</h3>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">How many times?</span>
            </div>
            <input type="number" min="0" class="form-control" name="times" id="times" placeholder="Enter how many times"
                required title="Number of times required">
        </div>
        <div class="input-group mb-3">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Your text</span>
                </div>
                <textarea class="form-control" name="text" id="text" aria-label="With textarea"></textarea>
                <button type="submit" class="btn btn-primary btn-lg">Render</button>
            </div>
    </form>
    <div class="conatiner">
        <h3>Time to get the response: {{ execution_time }}</h3>
    </div>
    {% if rendered_template %}
    <div class="container">
        <h3>Rendered template:</h3>
        <p>
            {{ rendered_template }}
        </p>
    </div>
    {% endif %}
</div>
{% endblock %}
