{% load i18n %}
<div class="container">
    <hr class="measurements-section-divider">
</div>
<div class="container">
    <h3 class="measurements-section-title">{% trans "Measurements" %}</h3>
</div>
<div class="container">
    <hr class="measurements-section-divider">
</div>
<div class="container text-center">
    <p>{% trans "Last measurement Flask" %}:
        {% if measurements.last_execution_time_flask %}
        <span class="badge badge-pill badge-info">{{ measurements.last_execution_time_flask }} ms</span></p>
    {% else %}
    <span class="badge badge-pill badge-info">- ms</span></p>
    {% endif %}
    <p>{% trans "Last measurement Django" %}:
        {% if measurements.last_execution_time_django %}
        <span class="badge badge-pill badge-info">{{ measurements.last_execution_time_django }} ms</span></p>
    {% else %}
    <span class="badge badge-pill badge-info">- ms</span></p>
    {% endif %}
    <p>{% trans "Last measurement Pyramid" %}:
        {% if measurements.last_execution_time_pyramid %}
        <span class="badge badge-pill badge-info">{{ measurements.last_execution_time_pyramid }} ms</span></p>
    {% else %}
    <span class="badge badge-pill badge-info">- ms</span></p>
    {% endif %}
    <h5>{% trans "Total measurements:" %} <span
            class="badge badge-secondary">{{ measurements.total_measurements }}</span></h5>
    <div class="container">
        <hr class="average-time-section-divider">
    </div>
    <div class="container">
        <h5 class="average-time-section-title">{% trans "Average Time" %}</h5>
    </div>
    <div class="container">
        <hr class="average-time-section-divider">
    </div>

    <div class="card-deck">
        <div class="card bg-light mb-3">
            <div class="card-header">Flask</div>
            <div class="card-body">
                <iframe
                    src="http://104.248.41.176:3000/d-solo/WHm1mUzWz/external-api-call?orgId=1&theme=light&panelId=4"
                    width="270" height="290" frameborder="0"></iframe>
            </div>
        </div>
        <div class="card bg-light mb-3">
            <div class="card-header">Django</div>
            <div class="card-body">
                <iframe
                    src="http://104.248.41.176:3000/d-solo/WHm1mUzWz/external-api-call?orgId=1&theme=light&panelId=6"
                    width="270" height="290" frameborder="0"></iframe>
            </div>
        </div>

        <div class="card bg-light mb-3">
            <div class="card-header">Pyramid</div>
            <div class="card-body">
                <iframe
                    src="http://104.248.41.176:3000/d-solo/WHm1mUzWz/external-api-call?orgId=1&theme=light&panelId=8"
                    width="270" height="290" frameborder="0"></iframe>
            </div>
        </div>
    </div>
</div>