{% extends "base.html" %}
{% block content %}
{% load i18n %}
<div class="container">
    <form class="form-submit" action="{% url 'record_external_api_call' %}" method="post">
        {% csrf_token %}
        <div class="container">
                <hr class="featurette-divider">
        </div>
        <div class="container"><h1 class="page-title"><i class="fas fa-network-wired"></i> {% trans "External API Call" %}</h1></div>
        <div class="container">
                <hr class="featurette-divider">
        </div>
        <p>{% trans "Make request to external API (https://openweathermap.org) to get weather forecast for Katowice and return response" %}
        </p>
        </p>
        <div class="input-group mb-3">
            <button type="submit" class="btn btn-primary">{% trans "Make Request" %}</button>
        </div>
    </form>
    {% if errors.error_message %}
    <div class="alert alert-danger" role="alert">
        {{ errors.error_message }}
    </div>
    {% endif %}
</div>
{% include "external_api_call_measurements_stats.html" %}
{% endblock %}