{% extends "base.html" %}
{% block content %}
{% load i18n %}
<div class="container">
    <div class="card-deck">
        <div class="card" style="width: 18rem;">
            {% load static %}
            <img class="card-img-top" src="{% static 'images/flask_logo.png'%}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Flask</h5>
                <p class="card-text">{% trans "Flask is a free open-source micro-framework created in 2004." %}</p><br>
                <a href="{% url 'flask_info' %}" class="btn btn-primary">{% trans "Learn more" %}</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{% static 'images/django_logo.png'%}" style="background: black;"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Django</h5>
                <p class="card-text">
                    {% trans "Django is a free open-source framework for desigining complex web services created in 2005." %}
                </p>
                <a href="{% url 'django_info' %}" class="btn btn-primary">{% trans "Learn more" %}</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{% static 'images/pyramid_logo.png'%}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Pyramid</h5>
                <p class="card-text">{% trans "Pyramid is a free open-source micro-framework created in 2008. "%}</p><br>
                <a href="{% url 'pyramid_info' %}" class="btn btn-primary">{% trans "Learn more" %}</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}