{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="card-deck">
        <div class="card" style="width: 18rem;">
            {% load static %}
            <img class="card-img-top" src="{% static 'images/flask_logo.png'%}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Flask</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="{% url 'flask' %}" class="btn btn-primary">Benchmark Flask</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{% static 'images/django_logo.png'%}" style="background: black;" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Django</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="{% url 'django' %}" class="btn btn-primary">Benchmark Django</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{% static 'images/pyramid_logo.png'%}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Pyramid</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    {% endblock %}