{% extends "base.html" %}
{% block content %}
<div class="container">
    <form class="form-submit" action="{% url 'record_inserting_to_database' %}" method="post">
        {% csrf_token %}
        <h3>Inserting objects to database</h3>
        <h4>Sample Object:</h4>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name (CharField)</th>
                    <th scope="col">City (CharField)</th>
                    <th scope="col">Street (CharField)</th>
                    <th scope="col">Street_number (IntegerField)</th>
                    <th scope="col">Open at (TimeField)</th>
                    <th scope="col">Close at (TimeField)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Biedronka</td>
                    <td>Chorzów</td>
                    <td>3 maja</td>
                    <td>14</td>
                    <td>7:00</td>
                    <td>21:00</td>
                </tr>
            </tbody>
        </table>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">How many times?</span>
            </div>
            <select class="custom-select" name="times" id="times">
                    <option value="10">10</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
        </div>
        <button type="submit" class="btn btn-primary btn-lg">Insert</button>
    </form>
    <h2>Average Time:</h2>
    <div class="container">
        <h3>10 Records</h3>
        <h5>Total measurements: {{ number_of_records_10 }}</h5>
            <iframe src="http://localhost:3000/d-solo/2qtqdAzZz/inserting-to-database-time?orgId=1&theme=light&panelId=4" width="250" height="250" frameborder="0"></iframe>
            <iframe src="http://localhost:3000/d-solo/2qtqdAzZz/inserting-to-database-time?orgId=1&theme=light&panelId=6" width="250" height="250" frameborder="0"></iframe>
            <iframe src="http://localhost:3000/d-solo/2qtqdAzZz/inserting-to-database-time?orgId=1&theme=light&panelId=8" width="250" height="250" frameborder="0"></iframe>
    </div>
    <div class="container">
        <h3>50 Records</h3>
        <h5>Total measurements: {{ number_of_records_50 }}</h5>
        <iframe src="http://localhost:3000/d-solo/2qtqdAzZz/inserting-to-database-time?orgId=1&theme=light&panelId=12" width="250" height="250" frameborder="0"></iframe>
        <iframe src="http://localhost:3000/d-solo/2qtqdAzZz/inserting-to-database-time?orgId=1&theme=light&panelId=14" width="250" height="250" frameborder="0"></iframe>
        <iframe src="http://localhost:3000/d-solo/2qtqdAzZz/inserting-to-database-time?orgId=1&theme=light&panelId=16" width="250" height="250" frameborder="0"></iframe>
    </div>
    <div class="container">
        <h3>100 Records</h3>
        <h5>Total measurements: {{ number_of_records_100 }}</h5>
        <iframe src="http://localhost:3000/d-solo/2qtqdAzZz/inserting-to-database-time?orgId=1&theme=light&panelId=20" width="250" height="250" frameborder="0"></iframe>
        <iframe src="http://localhost:3000/d-solo/2qtqdAzZz/inserting-to-database-time?orgId=1&theme=light&panelId=22" width="250" height="250" frameborder="0"></iframe>
        <iframe src="http://localhost:3000/d-solo/2qtqdAzZz/inserting-to-database-time?orgId=1&theme=light&panelId=24" width="250" height="250" frameborder="0"></iframe>
    </div>
</div>
{% endblock %}