{% extends "base.html" %}
{% block content %}
<div class="container">
    <form class="form-submit" action="{% url 'record_inserting_to_database' %}" method="post">
        {% csrf_token %}
        <h2>Inserting objects to database</h2>
        <p>Sample Object:</p>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name (CharField)</th>
                    <th scope="col">City (CharField)</th>
                    <th scope="col">Street (CharField)</th>
                    <th scope="col">Street_number (IntegerField)</th>
                    <th scope="col">Open at (TimeField)</th>
                    <th scope="col">Close at (TimeField)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Biedronka</td>
                    <td>Chorzów</td>
                    <td>3 maja</td>
                    <td>14</td>
                    <td>7:00</td>
                    <td>21:00</td>
                </tr>
            </tbody>
        </table>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">How many times?</span>
            </div>
            <select class="custom-select" name="times" id="times">
                    <option value="10">10</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
            </select>
            <button type="submit" class="btn btn-primary">Insert</button>
        </div>
        
    </form>
</div>
{% include "database_measurements_stats.html" %}
{% endblock %}