{% extends "base.html" %}
{% block content %}
{% load i18n %}
<div class="container">
    <hr class="featurette-divider">
</div>
<div class="container">
    <h1 class="page-title">{% block title %}Pyramid{% endblock %}</h1>
</div>
<div class="container">
    <hr class="featurette-divider">
</div>
<div class="container">
        <h2><a href="https://trypyramid.com" class="badge badge-info">trypyramid.com</a><h2>
</div>
<div class="container">
    <p>{% trans "Pyramid is a free opensource micro-framework created in 2008. Developers who worked on this software were inspired by Django web framework." %}</p>

    <p>{% trans "In basic version it provides only basic functionalitites similar to Flask. It can communicate with relational databases using SQLAlchemy or with NoSQL databases for instance InfluxDB or CouchDB" %}</p>

    <p>{% trans "Like flask it has support for extensions made by community." %}</p>

    <p>{% trans "Basic view which is full HTTP server returning valid response when request is sent to desirable address can be seen on Fig 1." %}</p>

    {% load static %}
    <div class="container">
        <img class="center" src="{% static 'images/pyramid-1.png' %}">
    </div>
    <p class="text-center">{% trans "Fig 1. Basic web server created with Pyramid" %}</p>
</div>
{% endblock %}