{% extends "base.html" %}
{% block content %}
{% load i18n %}
<div class="container">
    <h1>Pyramid</h1>
    <p>Pyramid jest to darmowy otwartoźródłowy mikro-framework stworzony w 2008 roku. Programiści pracujący nad
        produkcją tego oprogramowania inspirowali się Django.</p>

    <p>W swojej podstawowej wersji podobnie jak Flask udostępnia jedynie najważniejsze funkcjonalności. Może on
        komunikować się z relacyjnymi bazami danych za pomocą SQLAlchemy lub z bazami NoSQL jak na przykład InfluxDB lub
        CouchDB [23]</p>

    <p>Podobnie jak Flask posiada on wsparcie dla rozszerzeń tworzonych przez społeczność.</p>

    <p>Podstawowy widok będący pełnoprawnym serwerem HTTP zwracającym poprawną odpowiedź regując na żądanie wysłane pod
        wskazany adres widoczne jest na Rys 1.</p>

    {% load static %}
    <img src="{% static 'images/pyramid-1.png' %}">
    <p>Rys 1. Przykładowy serwer stworzony z użyciem Pyramid</p>
</div>
{% endblock %}