{% load i18n %}
<div class="container">
    <h3>{% trans "Average Time:" %}</h3>
    <div class="container">
        <h4><span class="badge badge-primary">{% trans "100 elements" %}</span></h4>
        <p>{% trans "Total measurements:" %}<span class="badge badge-secondary">{{ number_of_records_100 }}</span></p>
        <div class="card-deck">
            <div class="card bg-light mb-3" style="max-width: 18rem;">
                <div class="card-header">Flask</div>
                <div class="card-body">
                    <iframe
                        src="http://localhost:3000/d-solo/HTFFSAzWz/template-rendering-time?orgId=1&theme=light&panelId=4"
                        width="250" height="270" frameborder="0"></iframe>
                </div>
            </div>
            <div class="card bg-light mb-3" style="max-width: 18rem;">
                <div class="card-header">Django</div>
                <div class="card-body">
                    <iframe
                        src="http://localhost:3000/d-solo/HTFFSAzWz/template-rendering-time?orgId=1&theme=light&panelId=2"
                        width="250" height="270" frameborder="0"></iframe>
                </div>
            </div>

            <div class="card bg-light mb-3" style="max-width: 18rem;">
                <div class="card-header">Pyramid</div>
                <div class="card-body">
                    <iframe
                        src="http://localhost:3000/d-solo/HTFFSAzWz/template-rendering-time?orgId=1&theme=light&panelId=8"
                        width="250" height="270" frameborder="0"></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <h4><span class="badge badge-primary">{% trans "1000 elements" %}</span></h4>
        <p>{% trans "Total measurements:" %}<span class="badge badge-secondary">{{ number_of_records_1000 }}</span></h>
            <div class="card-deck">
                <div class="card bg-light mb-3" style="max-width: 18rem;">
                    <div class="card-header">Flask</div>
                    <div class="card-body">
                        <iframe
                            src="http://localhost:3000/d-solo/HTFFSAzWz/template-rendering-time?orgId=1&theme=light&panelId=16"
                            width="250" height="270" frameborder="0"></iframe>
                    </div>
                </div>
                <div class="card bg-light mb-3" style="max-width: 18rem;">
                    <div class="card-header">Django</div>
                    <div class="card-body">
                        <iframe
                            src="http://localhost:3000/d-solo/HTFFSAzWz/template-rendering-time?orgId=1&theme=light&panelId=14"
                            width="250" height="270" frameborder="0"></iframe>
                    </div>
                </div>

                <div class="card bg-light mb-3" style="max-width: 18rem;">
                    <div class="card-header">Pyramid</div>
                    <div class="card-body">
                        <iframe
                            src="http://localhost:3000/d-solo/HTFFSAzWz/template-rendering-time?orgId=1&theme=light&panelId=18"
                            width="250" height="270" frameborder="0"></iframe>
                    </div>
                </div>
            </div>
    </div>
    <div class="container">
        <h4><span class="badge badge-primary">{% trans "10000 elements" %}</span></h4>
        <p>{% trans "Total measurements:" %}<span class="badge badge-secondary">{{ number_of_records_10000 }}</span></p>
        <div class="card-deck">
            <div class="card bg-light mb-3" style="max-width: 18rem;">
                <div class="card-header">Flask</div>
                <div class="card-body">
                    <iframe
                        src="http://localhost:3000/d-solo/HTFFSAzWz/template-rendering-time?orgId=1&theme=light&panelId=24"
                        width="250" height="270" frameborder="0"></iframe>
                </div>
            </div>
            <div class="card bg-light mb-3" style="max-width: 18rem;">
                <div class="card-header">Django</div>
                <div class="card-body">
                    <iframe
                        src="http://localhost:3000/d-solo/HTFFSAzWz/template-rendering-time?orgId=1&theme=light&panelId=22"
                        width="250" height="270" frameborder="0"></iframe>
                </div>
            </div>

            <div class="card bg-light mb-3" style="max-width: 18rem;">
                <div class="card-header">Pyramid</div>
                <div class="card-body">
                    <iframe
                        src="http://localhost:3000/d-solo/HTFFSAzWz/template-rendering-time?orgId=1&theme=light&panelId=26"
                        width="250" height="270" frameborder="0"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>