{% extends "base.html" %}
{% block content %}
{% load i18n %}
<div class="container">
    <form class="form-submit" action="{% url 'record_json_serialization' %}" method="post">
        {% csrf_token %}
        <div class="container">
                <hr class="featurette-divider">
        </div>
        <div class="container"><h1 class="page-title"><i class="fas fa-file"></i> {% trans "Serialize JSON" %}</h1></div>
        <div class="container">
                <hr class="featurette-divider">
        </div>
        <p>{% trans "Serialize sample JSON object and return as response" %}</p>
        <p>{% trans "Sample Object:" %}</p>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name (CharField)</th>
                    <th scope="col">Surname (CharField)</th>
                    <th scope="col">Date of birth (DateTimeField)</th>
                    <th scope="col">Id Number (CharField)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Jim</td>
                    <td>Bim</td>
                    <td>1, 1, 1990</td>
                    <td>b640b25b-7f2a-4d42-b2f1-989563199185</td>
                </tr>
            </tbody>
        </table>
        </p>
        <div class="input-group mb-3">
            <button type="submit" class="btn btn-primary">{% trans "Serialize JSON" %}</button>
        </div>
    </form>
    {% if errors.error_message %}
    <div class="alert alert-danger" role="alert">
        {{ errors.error_message }}
    </div>
    {% endif %}
</div>
{% include "json_serialization_measurements_stats.html" %}
{% endblock %}